   
   *, *::after, *::after{
       box-sizing: border-box
   }
   a{
       text-decoration: none;
   }
   body{
        margin: 0;
        font-family: 'Mulish', sans-serif;
     
    }
        
        .container{
            width: 100%;
            max-width:var( --max-width);
            margin: auto;
          
        }

        .header{
            display: block;
            background:linear-gradient(90deg,#9a6dfb -7.22%,#5dc7fc 109.17%);
            color:var(--background_light_main);
            text-align: center;
            padding:10px;
            font-size: 14px;
        }
        .chevron{
         position: relative;
         top: 4px;
        }
        .header:hover{
            color:var( --button_light_secondary) ;
        }

.hero{
    background-color: var(--background_dark_main);
    color: var(--background_light_main);
}
nav .container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav{

    padding:20px 0;
    font-weight: 760;
    position: sticky;
    top: 0;
    background-color: var(--background_dark_main);
    backdrop-filter:blur(4px) ;
    color: var(--background_light_main);
    z-index: 1;
}
.link{
    display: flex;
    justify-content: space-between;
    width: 40%;

}
.source a{
    color: var(--background_light_main);
    display: inline-flex;
}
 .icon{
     width: 32px;
     padding-right: 8px;
 }

 
.source a:hover{
 color:var( --button_light_secondary);
}
      
.details{
    display: flex;
    padding:190px 0;
}
 .details .desc{
     width: 70%;
     padding-right: 32px;
 }
.details .desc h1{
     font-size: 64px;
     margin: 0;
     font-weight:1000;
 }
 h1 span{
     display: block;
 }
 h1 span:last-child{
     color:#06a1ef;
 }
 .details .video{
     width: 30%;
 }

 
 .details p{
     color: #ffffffb3;
     margin-bottom: 32px;
    font-size: 20px; 
    line-height: 28px;
 }
 .button{
    padding: 16px 24px;
    border-radius: 45px;
    color:var(--background_light_main);
    font-weight: bold;
    display: inline-flex;
    align-items: center;

 }

 .join{
     background-color:var(--button_dark_primary);
 margin-left: -20px;

 }
 .git{
background-color: var(--button_dark_secondary);
margin-left: 16px;
 }
 .join:hover{
     background-color:var( --button_dark_primary_hover) ;
 }
 .join:focus{
     background-color: var( --button_dark_primary_pressed);
 }
 .git:hover{
     background-color:var( --button_dark_secondary_hover) ;
 }
 .git:focus{
     background-color:var(  --button_dark_secondary_pressed) ;
 }
 
@media screen and (max-width: 1100px) {
    .details{
      flex-direction: column;
      align-items: center;
    }
  }



.main.container{
    padding: 150px 0px;
}
.masstitle{
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    margin: 0;
    padding-bottom: 20px;
}
div.description{
  text-align: center;
    color:var(  --text_light_secondary) ;
    padding-bottom:55px ;
  margin: 0 250px;
  font-size: larger;
}
div.items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
   
}
.transactions{
   display: block;
    width: 32%;
    background-color:var(  --background_light_main);
   border-radius: 25px;
   padding: 25px;

}

.wallets{
    display: block;
    width: 31%;
    background-color:var(  --background_light_main);
   margin-left:3%;
   border-radius: 25px;
   padding: 25px;
}
.validators{
    display: block;
    width: 31%;
    background-color:var(  --background_light_main);
   margin-left: 3%;
   border-radius:25px;
   padding: 25px;
}
.transicon{
    position: relative;
    bottom: 35px;
    left: 260px;
    }
.wallicon{
    position: relative;
bottom: 35px;
left: 240px;
}
.validicon{
    position: relative;
bottom: 35px;
left: 270px;
}
.coinbox{
    width: 90%;
    background-color:var(  --background_light_main);
    margin: auto;
    border-radius: 65px;
  height: 480px;

}
.toncoin{
    display: flex;
    padding: 64px 0px;
}
.TON{
    width: 50%;
}
.imgcoin{
    width: 50%;
    align-items: center;
    justify-content: center;
}
.cointitle{
    display: block;
    text-align:start;
    font-size: 55px;
    font-weight: 800;
    margin: 20px 0px 0px;
    padding-bottom: 20px;

}
.tonborder{
    display: inline;
    border: 1px solid  #728a96;
    color: var(  --text_light_secondary);
    padding:3px 11px;
    border-radius:8px;
   
}
.coindesc{
    color:var(  --text_light_secondary) ;
    font-size:larger;
    line-height:28px;
}
.coinlink {
  width: 60%;  
  display:flex;
justify-content: space-between;
margin-top: 40px;
font-weight: 1000;
}

.coinlink a{
    color: var( --icon_light_primary);
}

.bluechevron{
  position: relative;
  top:8px;
}
.itemtext{
   padding-bottom: 30px;
   font-weight:550;
}
.itemnumbers{
    font-size: xx-large;
    font-weight: 800;
}