   @import "./theme.css";

   *, *::after, *::after{
       box-sizing: border-box
   }
   a{
       text-decoration: none;
   }
   body{
        margin: 0;
        font-family: 'Mulish', sans-serif;
     
    }
        
        .container{
            width: 100%;
            max-width:var( --max-width);
            margin: auto;
          
        }
       /*header*/
        .header{
            display: block;
            background:linear-gradient(90deg,#9a6dfb -7.22%,#5dc7fc 109.17%);
            color:var(--background_light_main);
            text-align: center;
            padding:10px;
            font-size: 14px;
        }
        .chevron{
         position: relative;
         top: 4px;
        }
        .header:hover{
            color:var( --button_light_secondary) ;
        }
/*navigation bar*/

nav .container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav{

    padding:20px 0;
    font-weight: 760;
    position: sticky;
    top: 0;
    background-color: var(--background_dark_main);
    backdrop-filter:blur(4px) ;
    color: var(--background_light_main);
    z-index: 1;
}
.link{
    display: flex;
    justify-content: space-between;
    width: 40%;

}
/*welcome & video*/

.hero{
    background-color: var(--background_dark_main);
    color: var(--background_light_main);
}
.source a{
    color: var(--background_light_main);
    display: inline-flex;
}
 .icon{
     width: 32px;
     padding-right: 8px;
 }

 
.source a:hover{
 color:var( --button_light_secondary);
}
      
.details{
    display: flex;
    padding:190px 0;
}
 .details .desc{
     width: 70%;
     padding-right: 32px;
 }
.details .desc h1{
     font-size: 64px;
     margin: 0;
     font-weight:1000;
 }
 h1 span{
     display: block;
 }
 h1 span:last-child{
     color:#06a1ef;
 }
 .details .video{
     width: 30%;
 }
 
 .details p{
     color: #ffffffb3;
     margin-bottom: 32px;
    font-size: 20px; 
    line-height: 28px;
 }
 .button{
    padding: 16px 24px;
    border-radius: 45px;
    color:var(--background_light_main);
    font-weight: bold;
    display: inline-flex;
    align-items: center;

 }

 .join{
     background-color:var(--button_dark_primary);
 margin-left: -20px;

 }
 .git{
background-color: var(--button_dark_secondary);
margin-left: 16px;
 }
 .join:hover{
     background-color:var( --button_dark_primary_hover) ;
 }
 .join:focus{
     background-color: var( --button_dark_primary_pressed);
 }
 .git:hover{
     background-color:var( --button_dark_secondary_hover) ;
 }
 .git:focus{
     background-color:var(  --button_dark_secondary_pressed) ;
 }
 
@media screen and (max-width: 1100px) {
    .details{
      flex-direction: column;
      align-items: center;
    }
  }

/*mass adoption*/

.main.container{
    padding: 150px 0px;
}
.masstitle{
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    margin: 0;
    padding-bottom: 20px;
}
div.description{
  text-align: center;
    color:var(  --text_light_secondary) ;
    padding-bottom:55px ;
  margin: 0 45%px;
  font-size: larger;
}
div.items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.transactions{
 overflow: hidden;
 position: relative;
 width: 31%;
 background-color:var(  --background_light_main);
 border-radius: 24px;
 padding: 24px;

}

.wallets{
    overflow: hidden;
    position: relative;
       width: 31%;
       background-color:var(  --background_light_main);
      border-radius: 24px;
      padding: 24px;
}
.validators{
    overflow: hidden;
    position: relative;
       width: 31%;
       background-color:var(  --background_light_main);
      border-radius: 24px;
      padding: 24px;
}
.transicon{
  
  position: absolute;
  top: 50%;
  right:24px;
  transform: translate(50%, -50%);
  

    }
.wallicon{

    position: absolute;
    top: 50%;
    right:24px;
    transform: translate(50%, -50%);
}
.validicon{
    position: absolute;
    top: 50%;
    right:24px;
    transform: translate(50%, -50%);
}
/*ton coin*/

.coinbox{
    width: 90%;
    background-color:var(  --background_light_main);
    margin: auto;
    border-radius: 65px;
}
.toncoin{
    display: flex;
    padding: 64px 0px;
}
.TON{
    width: 50%;
}
.imgcoin{
    width: 50%;
    align-items: center;
    justify-content: center;
}
.cointitle{
    display: block;
    text-align:start;
    font-size: 55px;
    font-weight: 800;
    margin: 20px 0px 0px;
    padding-bottom: 20px;

}
.tonborder{
    display: inline;
    border: 1px solid  #728a96;
    color: var(  --text_light_secondary);
    padding:3px 11px;
    border-radius:8px;
   
}
.coindesc{
    color:var(  --text_light_secondary) ;
    font-size:larger;
    line-height:28px;
}
.coinlink {
  width: 60%;  
  display:flex;
justify-content: space-between;
margin-top: 40px;
font-weight: 1000;
}

.coinlink a{
    color: var( --icon_light_primary);
}

.bluechevron{
  position: relative;
  top:8px;
}

/*timeline*/

.itemtext{
   padding-bottom: 30px;
   font-weight:550;
}
.itemnumbers{
    font-size: xx-large;
    font-weight: 800;
} 

.timeline{
    padding: 100px 0px;
}
.Blockchain{
    padding-bottom: 100px;
}
.timeline-title{
    display: block;
    font-size: 55px;
    font-weight: 800;
}
.timeline-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.timeline-items::before{
    display: block;
    width: 66.66%;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.timeline-items::after{
    display: block;
    width: 48%;
    
    border-top: 3px dashed red;
    position: absolute;
    top: 0;
    left: 66.66%;
    content: "";
}
.yearnumber{
    width: 33.33%;
    font-weight:800;
    font-size:larger;
    position: relative;
   
  }
  .yearnumber::before{
      display: block;
      content: "";
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: green;
   transform: translateY(-50%);
  }
  .bigdot::before{
      z-index: 1;
    width: 8px;
    height: 8px;
      background-color: var(--background_light_main);
      border:8px solid purple ;
      border-radius: 50%;
  }

.yeardesc{
    font-weight: normal;
    font-size: large;
    color: var( --text_light_secondary);
    line-height: 30px;
}
.blockdesc{
    text-align: center;
    color:var(  --text_light_secondary) ;
    padding-bottom:40px ;
  font-size: larger;
}
.roadmap{
    color: var(--icon_light_primary);
    font-size: large;
    display: inline-flex;
}
.roadmap:hover{
    color: var( --button_dark_primary_hover) ;
}
/*blockchain analysis*/

 .more{
 background-color:var(--button_dark_primary);
display: flex;
justify-content: space-around;
 margin: 0px 42%;
 }
 .more:hover{
    background-color:var( --button_dark_primary_hover) ;
}
.more:focus{
    background-color: var( --button_dark_primary_pressed);
}
.blockchin-analysis{
    width: 100%;
    border: 2px solid var(  --separator_light);
    border-radius: 45px;
    margin-top: 48px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-around;
 
}
.analysis{
    display: flex;
    flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
}
.column1{
    margin-top: 70px;
align-items: flex-start;
}
.column2{
    background-color:  var(  --background_light_main);
    border-radius:40px;
    margin:16px 0 ;
}
.collink{
    color: black;
}
.collink:hover{
    color:var( --button_dark_primary_hover);
}
.blockchine-footr{
    display: block;
    padding: 0 72px;
    color: rgb(114, 138, 150);
    text-align: center;
}
.footlink{
    text-decoration: underline;
    color:rgb(114, 138, 150) ;
}
.footlink:hover{
    color: var( --button_dark_primary_hover);
}
/*A blockchain for developers*/

 .developers{
     background-color: var(--background_dark_main);
 }
 .blockchahindev{
     padding: 72px 0;
 }
 .devtitle{
     color: var(  --background_light_main);
 }
 .devdesc{
     color: #ffffffb3;
     margin: 0 24%;
 }
 .button2{
     display: flex;
     justify-content: center;
     padding-bottom: 58px;
 }
 .header_box{
     width: 90%;
     padding: 24px 40px;
     background-color: rgb(41, 41, 46);
     margin: auto;
     border-radius:24px 24px 0 0;
     display: flex;
 }
 .macwindow_action{
     width:10px;
     height: 10px;
     border-radius: 50%;
     background-color: rgb(255, 128, 0);
     margin: 0 4px;
 }
 .main_box{
     margin: auto;
    width: 90%;
    padding: 40px 0px;
    background-color:var(--button_dark_secondary);
    border-radius:0 0 24px 24px;
}
.blockchain_sidebar{
    width: 22%;
    border-right: 2px solid red;

}
.blockchain_sidebar_item{
    color: var(--background_light_main);
    font-weight: bold;
    padding: 10px 16px 10px 24px;
}

 
/*TON Community*/

 .Community{
 width: 100%;
 display: flex;
 padding: 64px 0;
 }
 .desccommunity{
     width: 55%;
 }

.teltwitt{
    display: inline-flex;
    color: rgb(0, 136, 204);
    font-weight: 800;
    margin: 40px 12px 0;
    font-size: large;
}
.teltwitt:hover{
    color:  var( --button_dark_primary_hover);
}
 .imgcommunity{
     width: 45%;
 }

 /*Apps & Services*/

 .s4-main{
     padding-top: 72px;
     padding-bottom: 120px;
 }
 .apps{
     margin: 0 39%;
 }
 .appsdesc{
      text-align: center;
 color:var(  --text_light_secondary) ;
font-size: larger;
margin: 0 20%;
padding-bottom: 42px;
 }

 /*Everyone can participate*/

 .s5{
     padding:140px 0;
 }
 .chanceslist{
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
 .startmining{
     width: 30%;

 }
   /* photos effect*/

 .thumbnail{
     border-radius: 32px;
   /* width: 100%;
    height: 148px;*/
    background-size:100% 100%; 
    background-position: center;
    transition: all 0.2s;
     aspect-ratio:16/7 ;
 }
 .startmining:hover .thumbnail{
     background-size: 110% 110%;
 }
 
 .chanceslist-title{
     font-weight: 800;
     font-size: larger;
     color: black;
 }
 .chanceslist-desc{
     color: var( --text_light_secondary);
     font-size: large;
 }

/*footer*/

 .footer2{
     padding-top: 24px;
 }
 .footer_links{
     width: 100%;
     padding-bottom: 32px;
     display: flex;
     justify-content:space-between;
     align-items: flex-start;
    border-bottom: 2px solid var(--separator_light); 
 }
 .column_links{
     width:16/6666667%;
     display: flex;
     flex-direction: column;
 }
 .footer-bold-text{
     font-size: large;
     font-weight: bold;
 }
 .footer2-link{
     color: var( --text_light_secondary);
 }
 .footer2-link:hover{
     color:var(  --button_light_primary);
 }
 .footer_icons{
 padding: 24px 0;
 display: flex;
 justify-content: space-between;
 }
 .footer_coprigts_year{
     color: var( --text_light_secondary);
 }