   @import "./theme.css";

   *, *::after, *::after{
       box-sizing: border-box
   }
   a{
       text-decoration: none;
       transition: all 0.2s ease-in-out;
       color: inherit;
   }
   body{
        margin: 0;
        font-family: 'Mulish', sans-serif;
     
    }
        
        .container{
            width: 100%;
            max-width:var( --max-width);
            margin: auto;
          
        }
       /*header*/
        .header{
            display: block;
            background:linear-gradient(90deg,#9a6dfb -7.22%,#5dc7fc 109.17%);
            color:var(--background_light_main);
            text-align: center;
            padding:10px;
            font-size: 14px;
        }
        .chevron{
         position: relative;
         top: 4px;
        }
        .header:hover{
            color:var( --button_light_secondary) ;
        }
/*navigation bar*/

nav .container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav{

    padding:20px 0;
    font-weight: 760;
    position: sticky;
    top: 0;
    background-color: var(--background_dark_main);
    backdrop-filter:blur(4px) ;
    color: var(--background_light_main);
    z-index: 1;
}
.link{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.link a:hover{
    color: var(--text_dark_secondary);
}
.source a{

    display: inline-flex;
}
.source a:hover{
    color: var(--text_dark_secondary);
   }
      
/*welcome & video*/

.hero{
    background-color: rgb(35, 35, 40);
    color: var(--background_light_main);
}

 .icon{
     width: 32px;
     padding-right: 8px;
 }

 
   
.details{
    display: flex;
    padding:190px 0;
}
 .details .desc{
     width: 70%;
     padding-right: 32px;
 }
.details .desc h1{
     font-size: 64px;
     margin: 0;
     font-weight:1000;
 }
 h1 span{
     display: block;
 }
 h1 span:last-child{
     color:#06a1ef;
 }
 .details .video{
     width: 30%;
 }
 
 
 .details p{
     color: #ffffffb3;
     margin-bottom: 32px;
    font-size: 20px; 
    line-height: 28px;
 }
 .button{
    padding: 16px 24px;
    border-radius: 45px;
    color:var(--background_light_main);
    font-weight: bold;
    display: inline-flex;
    align-items: center;

 }

 .join{
     background-color:var(--button_dark_primary);
 margin-left: -20px;

 }
 .git{
background-color: var(--button_dark_secondary);
margin-left: 16px;
 }
 .join:hover{
     background-color:var( --button_dark_primary_hover) ;
 }
 .join:focus{
     background-color: var( --button_dark_primary_pressed);
 }
 .git:hover{
     background-color:var( --button_dark_secondary_hover) ;
 }
 .git:focus{
     background-color:var(  --button_dark_secondary_pressed) ;
 }
 
@media screen and (max-width: 1100px) {
    .details{
      flex-direction: column;
      align-items: center;
    }
  }

/*mass adoption*/

.Mass-adoption.container{
    padding: 150px 0px;
}
.masstitle{
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    margin: 0;
    padding-bottom: 20px;
}
div.description{
  text-align: center;
    color:var(  --text_light_secondary) ;
    padding-bottom:55px ;
  margin: 0 45%px;
  font-size: larger;
}
div.items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.transactions{
 overflow: hidden;
 position: relative;
 width: 31%;
 background-color:var(  --background_light_main);
 border-radius: 24px;
 padding: 24px;

}

.wallets{
    overflow: hidden;
    position: relative;
       width: 31%;
       background-color:var(  --background_light_main);
      border-radius: 24px;
      padding: 24px;
}
.validators{
    overflow: hidden;
    position: relative;
       width: 31%;
       background-color:var(  --background_light_main);
      border-radius: 24px;
      padding: 24px;
}
.transicon{
  
  position: absolute;
  top: 50%;
  right:24px;
  transform: translate(50%, -50%);
  

    }
.wallicon{

    position: absolute;
    top: 50%;
    right:24px;
    transform: translate(50%, -50%);
}
.validicon{
    position: absolute;
    top: 50%;
    right:24px;
    transform: translate(50%, -50%);
}
/*ton coin*/

.coinbox{
    width:1300px;
    background-color:var(  --background_light_main);
    margin: auto;
    border-radius: 65px;

}
.toncoin{
    display: flex;
    padding: 64px 0px;
}
.TON{
    width: 50%;
}
.imgcoin{
    width: 50%;
    align-items: center;
    justify-content: center;
}
.cointitle{
    display: block;
    text-align:start;
    font-size: 55px;
    font-weight: 800;
    margin: 20px 0px 0px;
    padding-bottom: 20px;

}
.tonborder{
    display: inline;
    border: 1px solid  #728a96;
    color: var(  --text_light_secondary);
    padding:3px 11px;
    border-radius:8px;
   
}
.coindesc{
    color:var(  --text_light_secondary) ;
    font-size:larger;
    line-height:28px;
}
.coinlink {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.coinlink a{
    color: var( --icon_light_primary);
    font-size:large;
  font-weight: 800;
  width: 140px;
}

.bluechevron{
  position: relative;
  top:8px;
}

.itemtext{
   padding-bottom: 30px;
   font-weight:normal;
}
.itemnumbers{
    font-size: xx-large;
    font-weight: bold;
} 

/*timeline*/

.timeline{
    padding: 100px 0px;
}
.Blockchain{
    padding-bottom: 100px;
}
.timeline-title{
    display: block;
    font-size: 55px;
    font-weight: 800;
}
.timeline-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.timeline-items::before{
    display: block;
    width: 66.66%;
    height: 2px;
    background-color:  var(  --separator_light);
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.timeline-items::after{
 
    width: 60%;
    border-top: 3px dashed  var(  --separator_light);
    position: absolute;
    top: 0;
    left: 66.66%;
    content: "";
}
.yearnumber{
    width: 33.33%;
    font-weight:800;
    font-size:larger;
    position: relative;
    display: inline;
    padding-right: 14px;
   
  }
  .yearnumber::before{
 
   content: "";
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color:var( --button_dark_primary);
   transform: translateY(-50%);
   position: absolute;
  }
 .bigdot::before{
   
   background-color: var(--background_light_main);
      outline:8px solid var( --button_dark_primary); 

  }


.yeardesc{
    font-weight: normal;
  font-size: large;
    color: var( --text_light_secondary);
    line-height: 30px;
}
.blockdesc{
    text-align: center;
    color:var(  --text_light_secondary) ;
    padding-bottom:40px ;
  font-size: larger;
}
.roadmap{
    color: var(--icon_light_primary);
    font-size: large;
    display: inline-flex;
}
.roadmap:hover{
    color: var( --button_dark_primary_hover) ;
}
/*blockchain analysis*/

 .more{
 background-color:var(--button_dark_primary);
display: flex;
justify-content: space-around;
 margin: 0px 42%;
 }
 .more:hover{
    background-color:var( --button_dark_primary_hover) ;
}
.more:focus{
    background-color: var( --button_dark_primary_pressed);
}
.blockchin-analysis{
    width: 100%;
    border: 2px solid var(  --separator_light);
    border-radius: 45px;
    margin-top: 48px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
  padding: 16px 64px;
}
.column_analysis {
    width: 25%;
    display: flex;
    flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: larger;
  line-height: 30px;
}
.column_analysis:first-child{
    margin-top:164px;
text-align: left;
}
.column_analysis:nth-child(2){
    background-color:  var(  --background_light_main);
    border-radius:24px;
}
.column-link{
    color: black;
}
.column-link:hover{
    color:var( --button_dark_primary_hover);
}
.blockchine-footer{
    
    padding: 0 72px;
    color: rgb(114, 138, 150);
    text-align: center;
}
.footlink{
    text-decoration: underline;
    color:rgb(114, 138, 150) ;
}
.footlink:hover{
    color: var( --button_dark_primary_hover);
}
/*A blockchain for developers*/

 .blockchain-developers{
     background-color: var(--background_dark_main);
 }
 .blockchahindev{
     padding: 72px 0;
 }
 .developers-title{
     color: var(  --background_light_main);
 }
 .developers-desc{
     color: #ffffffb3;
     margin: 0 24%;
 }
 .button2{
     display: flex;
     justify-content: center;
     padding-bottom: 58px;
 }
 .macwindow-header{
     width: 90%;
     padding: 24px 40px;
     background-color: rgb(41, 41, 46);
     margin: auto;
     border-radius:32px 32px 0 0;
     display: flex;
 }
 .macwindow_action{
     width:10px;
     height: 10px;
     border-radius: 50%;
     background-color: #62c554;
     margin: 0 4px;
 }
 .red-point{
     background-color:rgb(237, 106, 94) ;
 }
 .orange-point{
     background-color:#f6be4f ;
 }

 .macwindow_body{
     display: flex;
     margin: auto;
    width: 90%;
    padding: 40px 0px;
    background-color:var(--button_dark_secondary);
    border-radius:0 0 32px 32px;
}
.blockchain_sidebar{
    display: flex;
    flex-direction: column;
    width: 22%;
    border-right: 2px solid  rgba(255, 255, 255, 0.06);
    padding-bottom: 50px;

}
.blockchain_sidebar_item{
    color: var(--background_light_main);
    font-size: medium;
    font-weight: bold;
    padding: 12px 16px 12px 32px;
    margin-bottom: 6px;
}

.selected{
    background-color: var( --button_dark_secondary);
    border-right:2px solid #06a1ef;
}
.blockchain_sidebar_item:hover{
    background-color: var(--button_dark_secondary_pressed);
}

.blockchain_content{
    width: 78%;
    padding: 0 46px 92px;
    color: rgb(255, 255, 255);
    line-height: 32px;
    font-size: larger;
}
.body_content{
    display: none;
}
.body_content.show{
    display: block;
}

.read_more{
    color: var( --button_light_primary);
    font-weight: bolder;
    display: inline-flex;
}


 
/*TON Community*/

 .Community{
 width: 100%;
 display: flex;
 padding: 64px 0;
 }
 .communitydesc{
     width: 55%;
 }

.teltwitt{
    display:flex;
    align-items:center;
    margin-top: 32px;
}
 .teltwitt a{
     display: inline-flex;
    color:var( --button_dark_primary);
    font-weight:bold;
    font-size: larger;
   margin-right: 24px;
   
}
.teltwitt a:hover{
    color:  var( --button_dark_primary_hover);
}
 .imgcommunity{
     width: 45%;
 }

 /*Apps & Services*/
 .appsbox{
     width: 1300px;
    overflow: hidden;
    padding: 72px 100px 0px;
    background-color: var( --background_light_main);
    border-radius: 64px;
    margin:0 auto;
 }

 .Apps_Services{
     padding-top: 72px;
     padding-bottom: 120px;
 }
 .apps{
     margin: 0 39%;
 }
 .appsdesc{
      text-align: center;
 color:var(  --text_light_secondary) ;
font-size: larger;
margin: 0 20%;
padding-bottom: 42px;
 }
 
 .app-imgs{
     position: relative;
     z-index: 0;
 }

.app-imgs img{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 24px;
    box-shadow: 10px 5px 5px rgba(123, 148, 160, 0.3);
}
#vimg {
    top: -10px ;
}
#diamondimg {
    top: 16px;
  left: 30px;
}
#wahleimg {
    top: 70px;
    left: 50px;
}
#squareimg {
    top: 125px;
    left: -310px
}
#circlesimg {
    top: 150px;
    left: -283px;
}
#rabbitimg {
    top: -25px;
    left: 730px;
}
#wimg {
    left: 750px;
    top: -90px;
}
#pyramidimg{
    top: -25px;
  left: 778px;
}
#toniconimg {

    top: 47px;
    left: 542px;
}


 /*Everyone can participate*/

 .Everyone_can_participate{
     padding:140px 0;
 }
 .chanceslist{
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
 .startmining{
     width: 30%;

 }
   /* photos effect*/

 .thumbnail{
     border-radius: 32px;
    background-size:100% 100%; 
    background-position: center;
    transition: all 0.2s;
     aspect-ratio:16/7 ;
 }
 .startmining:hover .thumbnail{
     background-size: 110% 110%;
 }
 
 .chanceslist-title{
     font-weight: 800;
     font-size: larger;
     color: black;
 }
 .chanceslist-desc{
     color: var( --text_light_secondary);
     font-size: large;
 }

/*footer*/

 .footer_links{
     width: 100%;
     padding-bottom: 32px;
     display: flex;
     justify-content:space-between;
    border-bottom: 2px solid var(--separator_light);
  
 }
 .column_links{
     width:16.6666667%;
     display: flex;
     flex-direction: column;
    
 }
 .footer-bold-text{
     font-size: large;
     font-weight: bold;
 }
 .footer2-link{
     color: var( --text_light_secondary);
     padding: 8px 0;
   
 }
 .footer2-link:hover{
     color:var(  --button_light_primary);
 }
 .footer_icons{
 padding-top: 20px;
 padding-bottom: 48px;
 display: flex;
 justify-content: space-between;
 }
 
 .network_icon{
     padding-left: 6px;
 }
 .footer_coprigts_year{
     color: var( --text_light_secondary);
 }
